{% extends 'frontend/base.html' %}
{% block content %}
<!--==========================
    Hero Section
  ============================-->
  <section id="hero">
    <div class="hero-container">
      <h1 class="wow zoomIn">ABOUT US</h1>
    </div>
  </section><!-- #hero -->

  <main id="main">
  {% for data in data %}
    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">
        <div class="row about-container">

          <div class="col-lg-6 content order-lg-1 order-2">
            <p class="text-justify-left wow fadeInUp" data-wow-delay="0.4s">{{ data.about_us_one }}</p>
            <p class="text-justify wow fadeInUp" data-wow-delay="0.6s">{{ data.about_us_two }}</p>
          </div>

          <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp" data-wow-delay="0.2s"></div>
        </div>

      </div>
    </section><!-- #about -->

    <!--==========================
      Facts Section
    ============================-->
    <section id="facts">
      <div class="container wow fadeIn" data-wow-delay="0.2s">
        <div class="section-header">
          <h3 class="section-title wow zoomIn">Numbers speak for themselves</h3>
        </div>
        <div class="row counters">

  				<div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">{{data.about_number_one}}</span>
            <p>Active Members</p>
  				</div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">{{data.about_number_two}}</span>
            <p>Years of Research</p>
  				</div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">{{data.about_number_three}}</span>
            <p>Proposed Reforms</p>
  				</div>

            <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">{{data.about_number_four}}</span>
            <p>Sample Text</p>
  				</div>

  			</div>

      </div>
    </section><!-- #facts -->

    <!--==========================
    Call To Action Section
    ============================-->
    <section id="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 text-center text-lg-left">
            <h3 class="cta-title wow zoomIn">{{data.about_sub_title}}</h3>
            <p class="cta-text text-justify wow fadeInUp" data-wow-delay="0.4s">{{ data.about_sub_para }}</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle wow zoomIn" href="#">Join OPR NOW</a>
          </div>
        </div>

      </div>
    </section><!-- #call-to-action -->

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="container">
              <div class="row">
                <div class="col-sm-4 wow fadeInUp" data-wow-delay="0.4s">
                    <p class="text-justify">{{data.about_sub_para_one}}</p>
                </div>
                <div class="col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
                    <p class="text-justify">{{data.about_sub_para_two}}</p>
                </div>
                <div class="col-sm-4 wow fadeInUp" data-wow-delay="0.8s">
                    <p class="text-justify">{{data.about_sub_para_three}}</p>
                </div>
              </div>
            </div>
        </div>
    </div>

{% endfor %}
  </main>
{% endblock %}