 {% extends 'frontend/base.html' %}
{% block content %}
 <!--==========================
    Hero Section
  ============================-->

 <section id="hero" xmlns="http://www.w3.org/1999/html">
    <div class="hero-container">
      <h1 class="wow zoomIn">CONTACT</h1>
    </div>
  </section><!-- #hero -->


  <main id="main">
    <!--==========================
      Contact Section
    ============================-->
    <section id="contact">

      <!-- Uncomment below if you wan to use dynamic maps -->
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22864.11283411948!2d-73.96468908098944!3d40.630720240038435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sbg!4v1540447494452" width="100%" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>

      <div class="container mt-5">
        <div class="row justify-content-center">

          <div class="col-lg-3 col-md-3">

            <div class="info wow fadeInUp">
              <div>
                <i class="fa fa-map-marker"></i>
                <p>A108 Adam Street<br>New York, NY 535022</p>
              </div>

              <div>
                <i class="fa fa-envelope"></i>
                <p>info@example.com</p>
              </div>

              <div>
                <i class="fa fa-phone"></i>
                <p>+1 5589 55488 55s</p>
              </div>
            </div>

            <div class="social-links">
              <a href="#" class="twitter wow zoomIn" data-wow-delay="0.2s"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook wow zoomIn" data-wow-delay="0.4s"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram wow zoomIn" data-wow-delay="0.6s"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus wow zoomIn" data-wow-delay="0.8s"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin wow zoomIn" data-wow-delay="0.9s"><i class="fa fa-whatsapp"></i></a>
            </div>

          </div>

          <div class="col-lg-9 col-md-9">
            <div class="form wow fadeInUp">
              <div id="sendmessage">Your message has been sent. Thank you!</div>
              <div id="errormessage"></div>

              <form action="" method="post" class="contactForm">
                {% csrf_token %}
                <div class="row">
                   <div class="col-sm-12">
                    <div class="form-group">
                      <label class="control-label">Your Name</label>
                      {{form.contact_name}}
                    </div>
                   </div>
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label class="control-label">Email Address</label>
                      {{form.contact_email}}
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label class="control-label">Subject</label>
                      {{form.contact_subject}}
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label class="control-label">Message</label>
                      {{form.contact_message}}
                    </div>
                  </div>
                </div>
                    <input type="submit" value="SEND MESSAGE">
              </form>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #contact -->

  </main>
 {% endblock %}