{% extends 'frontend/base.html' %}
{% block content %}
  <!--==========================
    Hero Section
  ============================-->

  <section id="hero">
    <div class="hero-container">
      <h1 class="wow zoomIn">EVENTS</h1>
    </div>
  </section><!-- #hero -->


  <main id="main">
{% for data in data %}
      <!--==========================
     events Section
    ============================-->
    <section id="events">
        <div class="container mt-5">
          <div class="row">
              <div class="col-lg-6">
                  <p class="wow fadeInUp"><strong>HOW IT STARTED</strong></p>
                  <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp" data-wow-delay="0.2s"></div>
                  <p class="text-justify wow fadeInUp" data-wow-delay="0.2s">{{data.events_para_one}}</p>
              </div>
            <div class="col-lg-6">
                <p class="wow fadeInUp"><strong>THE WORK IN AUSTRALIA AND INDIA</strong></p>
                <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp" data-wow-delay="0.4s"></div>
                <p class="text-justify wow fadeInUp" data-wow-delay="0.4s">{{data.events_para_two}}</p>
            </div>
            <div class="w-100"></div>
            <div class="col-lg-6">
                <p class="wow fadeInUp"><strong>THE VATTOLI GROUP</strong></p>
                <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp" data-wow-delay="0.2s"></div>
                <p class="text-justify wow fadeInUp" data-wow-delay="0.2s">{{data.events_para_three}}</p>
            </div>
            <div class="col-lg-6">
                <p class="wow fadeInUp"><strong>THE NEXT STEP</strong></p>
                <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp" data-wow-delay="0.4s"></div>
                <p class="text-justify wow fadeInUp" data-wow-delay="0.4s">{{data.events_para_four}}</p>
            </div>
          </div>
          </div>
    </section><!-- #facts -->
 <!--==========================
  </main>
 ============================-->
      {% endfor %}
  </main>
{% endblock %}