{% extends 'frontend/base.html' %}
{% block content %}
      <!-- Default form register -->
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8 mt-5 bg-light">

      <div class="text-center my-3">
        <p class="h2 text-uppercase font-weight-bold">Membership Registration</p>
        <p class="h5 font-weight-bold">The Organisation for People’s Rights (OPR)</p>
        <p class="h6 font-weight-bold">Nalukett, Vattoli, PO: Chittariparamba, Kannur District, Kerala, 670650 www.opr.org.in</p>
        <hr>
      </div>
       <form method="post">
            {% csrf_token %}

                {% for field in form %}

                   {{field}}
                   {{field.errors}}

                {% endfor %}

                <input type="submit" class="btn btn-success" value="Submit" id="submit">
       </form>
      <div class="col-md-2"></div>
  </div>
</div>
<!-- Default form register -->
{%endblock%}