{% extends 'base.html' %}
{% block content %}
<!--==========================
    Hero Section
  ============================-->

  <section id="hero">
    <div class="hero-container">
      <h1 class="wow zoomIn">VISION & MISSION</h1>
    </div>
  </section><!-- #hero -->

  <main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
        <div class="section-header">
          <h3 class="section-title wow zoomIn">Vision</h3><br>
        </div>
      <div class="container">

        <div class="row about-container">

          <div class="col-lg-6 content order-lg-1 order-2">
            <p class="text-justify wow fadeInUp" data-wow-delay="0.4s">The OPR’s Vision is to help the people and the government to establish true democracy in India, with corruption-free, fair, effective and uniform law for everyone in the nation, so that every citizen will have basic rights to lead a decent life with one’s own effort, without fear or having to bow to anyone. The OPR has proposed a set of reforms to the existing Constitution, under the name of the ‘Constitution for the People’ (CP) with 430 sections, providing tangible minimum guarantee for all citizens to prosper.  The OPR will achieve this vision with the right principles.</p>
            <p class="text-justify wow fadeInUp" data-wow-delay="0.6s">The OPR has proposed a set of reforms to the existing Constitution, under the name of the ‘Constitution for the People’ (CP) with 430 sections, providing tangible minimum guarantee for all citizens to prosper.  The OPR will achieve this vision with the right principles.</p>
          </div>

          <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp" data-wow-delay="0.2s"></div>
        </div>
        </div>
    </section><!-- #about -->
      <!--==========================
     Facts Section
    ============================-->
    <section id="facts">
      <div class="container">

        <div class="section-header">
          <h3 class="section-title wow zoomIn">Mission</h3>
        </div>
          <div class="container mt-5">
          <div class="row">
            <div class="col">
                <p class="text-justify wow fadeInUp" data-wow-delay="0.2s">The OPR’s Mission is to bring about a true democracy where a four level Government system will be in place, at Community, District, State and National level.  The people of the Nation will always have the legislative power of the Nation, exercisable through the Delegates, elected by the people of the Nation, as provided under the various sections of the CP.<hr></p>
            </div>
            <div class="col">
                <p class="text-justify wow fadeInUp" data-wow-delay="0.4s">A democracy where the majority of the people have the power at all times, to reject an unfair or unjust decision by an elected Member of the Government and remove and replace him with another person, through a reasonably realistic and simple process.  The people have the right to know about all Government matters and actions at all times.<hr></p>
            </div>
            <div class="w-100"></div>
            <div class="col">
                <p class="text-justify wow fadeInUp" data-wow-delay="0.2s">A person above eighteen years of age is eligible to apply for a paid employment.  The employer will always provide a reasonable minimum service standard. The minimum salary for any full time job will be twenty six thousand rupees per month.  An allowance of thirteen thousand rupees per month will be paid to all with no income who do not get a job.</p>
            </div>
            <div class="col">
                <p class="text-justify wow fadeInUp" data-wow-delay="0.4s">There will be a reasonable service system to cater for the need of the people of the Nation without any harassment.  The education and medical treatment will be fully funded by the public money and at no cost to individual citizen recipient.  Affordable housing schemes will be provided that will not stress out citizens.</p>
            </div>
          </div>
          </div>
        </div>
    </section><!-- #facts -->
 <!--==========================
      Facts Section
    ============================-->
    <section id="services">
      <div class="container">
        <div class="section-header">
          <h3 class="section-title">Downloads</h3><br>
        </div>
        <div class="row counters">

  				<div class="col-lg-4 col-10 text-center wow zoomIn mb-4" data-wow-delay="0.2s">
                  <p>Download The Constitution for the People</p>
                  <button type="button" class="btn btn-success">Download CP</button>
  				</div>

                <div class="col-lg-4 col-10 text-center wow zoomIn mb-4" data-wow-delay="0.4s">
                  <p>Download The Constitution of the OPR</p>
                  <button type="button" class="btn btn-success">Download COPR</button>
                </div>

                <div class="col-lg-4 col-10 text-center wow zoomIn mb-4" data-wow-delay="0.6s">
                  <p>Download the OPR Manifesto in your language</p>

                  <div class="dropdown">
                    <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Download in
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">malayalam</a>
                      <a class="dropdown-item" href="#">English</a>
                      <a class="dropdown-item" href="#">tamil</a>
                      <a class="dropdown-item" href="#">tamil</a>
                      <a class="dropdown-item" href="#">malayalam</a>
                      <a class="dropdown-item" href="#">English</a>
                      <a class="dropdown-item" href="#">tamil</a>
                      <a class="dropdown-item" href="#">tamil</a>
                      <a class="dropdown-item" href="#">malayalam</a>
                      <a class="dropdown-item" href="#">English</a>
                      <a class="dropdown-item" href="#">tamil</a>
                      <a class="dropdown-item" href="#">tamil</a>

                    </div>
                  </div>
                </div>

         </div>

      </div>
    </section><!-- #facts -->



  </main>

{%endblock%}