{% extends 'frontend/base.html' %}
{% block content %}
<!--==========================
    Hero Section
  ============================-->

  <section id="hero">
    <div class="hero-container">
      <h1 class="wow zoomIn">VISION & MISSION</h1>
    </div>
  </section><!-- #hero -->

  <main id="main">
{% for data in data %}
    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
        <div class="section-header">
          <h3 class="section-title wow zoomIn">Vision</h3><br>
        </div>
      <div class="container">

        <div class="row about-container">

          <div class="col-lg-6 content order-lg-1 order-2">
            <p class="text-justify wow fadeInUp" data-wow-delay="0.4s">{{data.vision_para_one}}</p>
            <p class="text-justify wow fadeInUp" data-wow-delay="0.6s">{{data.vision_para_two}}</p>
          </div>

          <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp" data-wow-delay="0.2s"></div>
        </div>
        </div>
    </section><!-- #about -->
      <!--==========================
     Facts Section
    ============================-->
    <section id="facts">
      <div class="container">

        <div class="section-header">
          <h3 class="section-title wow zoomIn">Mission</h3>
        </div>
          <div class="container mt-5">
          <div class="row">
            <div class="col">
                <p class="text-justify wow fadeInUp" data-wow-delay="0.2s">{{data.mission_para_one}}<hr></p>
            </div>
            <div class="col">
                <p class="text-justify wow fadeInUp" data-wow-delay="0.4s">{{data.mission_para_two}}<hr></p>
            </div>
            <div class="w-100"></div>
            <div class="col">
                <p class="text-justify wow fadeInUp" data-wow-delay="0.2s">{{data.mission_para_three}}</p>
            </div>
            <div class="col">
                <p class="text-justify wow fadeInUp" data-wow-delay="0.4s">{{data.mission_para_four}}</p>
            </div>
          </div>
          </div>
        </div>
    </section><!-- #facts -->
 <!--==========================
      Facts Section
    ============================-->
    <section id="services">
      <div class="container">
        <div class="section-header">
          <h3 class="section-title">Downloads</h3><br>
        </div>
        <div class="row counters">

  				<div class="col-lg-4 col-10 text-center wow zoomIn mb-4" data-wow-delay="0.2s">
                  <p>Download The Constitution for the People</p>
                  <button type="button" class="btn btn-success">{{ data.download_cp }}</button>
  				</div>

                <div class="col-lg-4 col-10 text-center wow zoomIn mb-4" data-wow-delay="0.4s">
                  <p>Download The Constitution of the OPR</p>
                  <button type="button" class="btn btn-success">{{ data.download_copr }}</button>
                </div>

                <div class="col-lg-4 col-10 text-center wow zoomIn mb-4" data-wow-delay="0.6s">
                  <p>Download the OPR Manifesto in your language</p>

                  <div class="dropdown">
                    <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Download in
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {% for name in manifesto_language %}
                      <a class="dropdown-item" href="{{download_manifesto}}">{{name.manifesto_language}}</a>
                        {% endfor %}
                    </div>
                  </div>
                </div>

         </div>

      </div>
    </section><!-- #facts -->


{% endfor %}
  </main>

{%endblock%}