{% extends 'base.html' %}
{% block content %}
  <!--==========================
    Hero Section
  ============================-->

  <section id="hero">
    <div class="hero-container">
      <h1 class="wow zoomIn">EVENTS</h1>
    </div>
  </section><!-- #hero -->


  <main id="main">

      <!--==========================
     events Section
    ============================-->
    <section id="events">
        <div class="container mt-5">
          <div class="row">
              <div class="col-lg-6">
                  <p class="wow fadeInUp"><strong>HOW IT STARTED</strong></p>
                  <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp" data-wow-delay="0.2s"></div>
                  <p class="text-justify wow fadeInUp" data-wow-delay="0.2s">Mr N K Hari, in early 2000, started writing a book, a fiction.  A story of how a man, with a plan, succeeds in achieving his long-standing dream of bringing about peace in the world.  It is only a work of fiction, born in the mind of the author! After, 3 years of research into the subject, the first edition of the book, titled, ‘The Final Peace’ was published in early 2003, in Australia.  Many of Mr Hari’s Indian friends in Australia and also some friends in India, who happened to read the book, asked whether he would support them to bring about good changes in India using the idea in the book.</p>
              </div>
            <div class="col-lg-6">
                <p class="wow fadeInUp"><strong>THE WORK IN AUSTRALIA AND INDIA</strong></p>
                <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp" data-wow-delay="0.4s"></div>
                <p class="text-justify wow fadeInUp" data-wow-delay="0.4s">A democracy where the majority of the people have the power at all times, to reject an unfair or unjust decision by an elected Member of the Government and remove and replace him with another person, through a reasonably realistic and simple process.  The people have the right to know about all Government matters and actions at all times.</p>
            </div>
            <div class="w-100"></div>
            <div class="col-lg-6">
                <p class="wow fadeInUp"><strong>THE VATTOLI GROUP</strong></p>
                <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp" data-wow-delay="0.2s"></div>
                <p class="text-justify wow fadeInUp" data-wow-delay="0.2s">A group of people, under the guidance of Mr Hari, has been meeting at Nalukett, at Vattoli, in Chittariparamba, in the State of Kerala, at 5 pm every first Sunday of every month since the beginning of 2019.  They were working on further fine tuning the set of rules model. They, in the beginning of December 2019, approved the rules model with the name ‘The Constitution for the People’, with 430 sections.  The group has finally registered a Non-Profit Trust Organisation by the name, ‘The Organisation for People’s Rights’ (OPR) on 16th December 2019.</p>
            </div>
            <div class="col-lg-6">
                <p class="wow fadeInUp"><strong>THE NEXT STEP</strong></p>
                <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp" data-wow-delay="0.4s"></div>
                <p class="text-justify wow fadeInUp" data-wow-delay="0.4s">The next step of the group is to take the OPR vision to all Indians.  The people have started their work to take the OPR’s vision, to help the people and the government to establish true democracy in India, with corruption-free, fair, effective and uniform law for everyone in the Nation, so that every citizen will have basic rights to lead a decent life with one’s own effort, without fear or having to bow to anyone.  They are on the way to achieving it.</p>
            </div>
          </div>
          </div>
    </section><!-- #facts -->
 <!--==========================
  </main>
 ============================-->
  </main>
{% endblock %}